<template>
    <div v-if="isInitialized" class="page-viewer">
        <div class="page-viewer__navigation">
            <div class="d-flex">
                <div class="page-viewer__text-side-navigation flex-grow-1 w-100">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="input-group input-group-sm mb-3">
                                <button :disabled="isShowVerse || !isSingleColumn || focusedTextAreaIndex <= 0 || !page.textAreas[Math.max(0, focusedTextAreaIndex - 1)].hasNonEmptyLines()"
                                        @click="moveFocusedTextAreaBack"
                                        class="btn btn-primary me-1"
                                        type="button">
                                    <i class="bi bi-arrow-left"></i>
                                </button>
                                <button :disabled="isShowVerse || focusedTextAreaIndex < 0"
                                        @click="switchSingleColumn"
                                        class="btn btn-primary me-1"
                                        type="button">
                                    <i class="bi bi-list"></i>
                                </button>
                                <button :disabled="isShowVerse || !isSingleColumn || focusedTextAreaIndex >= (page.textAreas.length - 1) || !page.textAreas[Math.min((page.textAreas.length - 1), focusedTextAreaIndex + 1)].hasNonEmptyLines()"
                                        @click="moveFocusedTextAreaForward"
                                        class="btn btn-primary"
                                        type="button">
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>

                        <div class="position-relative">
                            <div class="input-group input-group-sm mb-3">
                                <button :disabled="(textScale >= maxTextScale)"
                                        @click="increaseTextScale"
                                        class="btn btn-primary me-1"
                                        type="button">
                                    <i class="bi bi-plus"></i>
                                </button>
                                <button @click="decreaseTextScale"
                                        :disabled="(textScale <= minTextScale)"
                                        class="btn btn-primary me-1"
                                        type="button">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <button
                                    @click="toggleShowOptionsBox"
                                    class="btn btn-primary"
                                    type="button">
                                    <i class="bi bi-gear"></i>
                                </button>
                            </div>
                            <div v-if="isShowOptionsBox" class="page-viewer__option-box">
                                <div class="form-check">
                                    <input v-model="isShowVerse" @change="onVerseOrLineRepresentationChange" class="form-check-input" type="checkbox" value="true" id="verseCheck">
                                    <label class="form-check-label" for="verseCheck">
                                        Versumbruch
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input v-model="isShowNormalized" class="form-check-input" type="checkbox" value="true" id="normalizeCheck">
                                    <label class="form-check-label" for="normalizeCheck">
                                        Diplomatische Transkription
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input :disabled="isShowNormalized" v-model="isExpandAbbreviations" class="form-check-input" type="checkbox" value="true" id="abbreviationsCheck">
                                    <label class="form-check-label" for="abbreviationsCheck">
                                        Abbreviaturen auflösen
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-viewer__image-side-navigation flex-grow-1 w-100">
                    <div class="d-flex justify-content-end">
                        <div>
                            <div class="input-group input-group-sm mb-3">
                                <button :disabled="imageScroll === 100"
                                        @click="resetImageZoom"
                                        class="btn btn-primary me-1"
                                        type="button">
                                    <i class="bi bi-fullscreen"></i>
                                </button>
                                <button :disabled="(!isShowVerse && focusedLine === null) || (isShowVerse && focusedVerse === null)"
                                        @click="isShowVerse ? focusOnVerse(focusedVerse) : focusOnLine(focusedLine)"
                                        class="btn btn-primary"
                                        type="button">
                                    <i class="bi bi-arrows-collapse"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-viewer__page">
            <div class="d-flex">
                <div ref="textSide" class="page-viewer__text-side-wrapper flex-grow-1 w-100" :class="{'is-expand-abbreviations': isExpandAbbreviations || isShowNormalized, 'is-show-normalized': isShowNormalized}">
                    <div :style="{'transform': 'scale(' + textScale + ')', 'transformOrigin' : '0 0'}" :class="{'is-show-line-hover': isShowLineHover}" class="page-viewer__text-side junicode d-flex align-items-start justify-content-center">
                        <div v-if="chapter.isAbsolute && page.textAreas.length > 0" class="page-viewer__absolute-text-area" v-for="(textArea, textAreaIndex) of page.textAreas" :class="{'d-none': (isShowVerse || isSingleColumn)}">
                            <div ref="lines" :data-textarea="textArea.id" :key="line.id + '-' + maxLineWidthIndex" @click="onLineClick(line, textArea, textAreaIndex)" :style="{'top': (line.absoluteClusterReference * 0.0123 + 1 * (line.absoluteClusterIndex)) + 'vw', 'left': (page.pageNumber === 9 && textArea.readingNumber === 0) ? '19.0vw' : (textArea.readingNumber === (page.pageNumber === 9 ? 1 : 0) ? '6.1vw' : '25.2vw'), 'width': isPageNumber(line.value.trim()) ? maxLineWidths[textArea.id] + 'vw' : 'auto'}" :class="[focusedLine?.id === line.id ? 'is-selected' : '', line.value !== null && line.value !== '' ? 'has-content' : '', (isLocalSearchActive && valueMatchesSearchTerm(isShowNormalized ? line.normalizedValue : line.value)) ? 'is-matches-search' : '', isPageNumber(line.value.trim()) ? 'is-page-number' : '' ]" class="page-viewer__line d-block text-end" v-if="textArea.lines.length > 0" v-for="(line, lineIndex) of textArea.lines">
                                <span v-html="!isShowNormalized ? line.transformedValue : line.transformedNormalizedValue"></span>
                            </div>
                        </div>

                        <div v-if="chapter.isAbsolute" class="position-absolute pb-5 w-100" :style="{'top': (highestClusterReference * 0.0123 + 2 + highestClusterIndex) + 'vw'}" :class="{'d-none': (isShowVerse || isSingleColumn)}"></div>

                        <div class="page-viewer__single-text-area is-absolute" v-if="chapter.isAbsolute && page.textAreas.length > 0" :class="{'d-none': (isShowVerse || !isSingleColumn || focusedTextAreaIndex !== textAreaIndex)}" v-for="(textArea, textAreaIndex) of page.textAreas">
                            <div :class="[line.absoluteClusterIndex === 0 ? 'page-viewer__cluster-start' : '', line.isIncipit() ? 'cluster-has-incipit' : '']" class="d-flex" v-for="(line, lineIndex) of textArea.lines" v-if="textArea.lines.length > 0">
                                <div style="font-size: 1.7vw;" class="page-viewer__reading_number junicode-numerics" :class="{'d-none': line.value === null || line.value === ''}">
                                    {{ isPageNumber(line.value.trim()) ? '' : line.lineNumber }}
                                </div>

                                <div :ref="'singleLine' + line.id" :key="line.id" @click="onLineClick(line, textArea, textAreaIndex)" :class="[focusedLine?.id === line.id ? 'is-selected' : '', line.value !== null && line.value !== '' ? 'has-content' : '', ('indent-' + line.lineIndent), line.smallIndent ? 'small-indent' : '', (isLocalSearchActive && valueMatchesSearchTerm(isShowNormalized ? line.normalizedValue : line.value)) ? 'is-matches-search' : '', isPageNumber(line.value.trim()) ? 'text-end' : '' ]" class="page-viewer__line flex-grow-1">
                                    <span v-html="!isShowNormalized ? line.transformedValue : line.transformedNormalizedValue"></span>
                                </div>
                            </div>
                        </div>

                        <div v-if="!chapter.isAbsolute && page.textAreas.length > 0" :class="{'d-none': (isShowVerse || isSingleColumn)}" class="page-viewer__text-area" v-for="(textArea, textAreaIndex) of page.textAreas">
                            <div ref="lines" :key="line.id" @click="onLineClick(line, textArea, textAreaIndex)" :class="[focusedLine?.id === line.id ? 'is-selected' : '', line.value !== null && line.value !== '' ? 'has-content' : '', ('indent-' + line.lineIndent), line.smallIndent ? 'small-indent' : '', (isLocalSearchActive && valueMatchesSearchTerm(isShowNormalized ? line.normalizedValue : line.value)) ? 'is-matches-search' : '' ]" class="page-viewer__line" v-if="textArea.lines.length > 0" v-for="line of textArea.lines">
                                <span v-html="!isShowNormalized ? line.transformedValue : line.transformedNormalizedValue"></span>
                            </div>
                        </div>

                        <div class="page-viewer__single-text-area" v-if="!chapter.isAbsolute && page.textAreas.length > 0" :class="{'d-none': (isShowVerse || !isSingleColumn || focusedTextAreaIndex !== textAreaIndex)}" v-for="(textArea, textAreaIndex) of page.textAreas">
                            <div class="d-flex" v-for="(line, lineIndex) of textArea.lines" v-if="textArea.lines.length > 0">
                                <div style="font-size: 1.7vw;" class="page-viewer__reading_number junicode-numerics" :class="{'d-none': line.value === null || line.value === ''}">
                                    {{ line.lineNumber }}
                                </div>

                                <div :ref="'singleLine' + line.id" :key="line.id" @click="onLineClick(line, textArea, textAreaIndex)" :class="[focusedLine?.id === line.id ? 'is-selected' : '', line.value !== null && line.value !== '' ? 'has-content' : '', ('indent-' + line.lineIndent), line.smallIndent ? 'small-indent' : '', (isLocalSearchActive && valueMatchesSearchTerm(isShowNormalized ? line.normalizedValue : line.value)) ? 'is-matches-search' : '' ]" class="page-viewer__line">
                                    <span v-html="!isShowNormalized ? line.transformedValue : line.transformedNormalizedValue"></span>
                                </div>
                            </div>
                        </div>

                        <div class="page-viewer__single-text-area page-viewer__verses" v-if="page.verses.length > 0" :class="{'d-none': (!isShowVerse), 'is-absolute': chapter.isAbsolute}">
                            <div v-for="(verse, verseIndex) of page.verses" v-if="!chapter.hasStrophes">
                                <div class="aventiure" v-if="verse.aventiureNumber() !== null && verse.isSpecialAventiure()">
                                    [<span class="junicode-numerics">{{ verse.aventiureNumber() }}</span>. <i>âventiure</i>]
                                </div>

                                <div class="d-flex">
                                    <div class="page-viewer__reading_number junicode-numerics">
                                        {{ !isNumber(verse.verseNumber)
                                    || (parseInt(verse.verseNumber) === 1)
                                    || (parseInt(verse.verseNumber) % 5 === 0)
                                    || (page.verses[verseIndex - 1] !== undefined
                                        && page.verses[verseIndex - 1] !== null
                                        && (!isNumber(page.verses[verseIndex - 1].verseNumber)
                                            || (isNumber(page.verses[verseIndex - 1].verseNumber)
                                                && (((parseInt(page.verses[verseIndex - 1].verseNumber) + 1) !== parseInt(verse.verseNumber))))
                                            || (page.verses[verseIndex - 1].isIncipit())))
                                    || (page.verses[verseIndex + 1] !== undefined
                                        && page.verses[verseIndex + 1] !== null
                                        && (!isNumber(page.verses[verseIndex + 1].verseNumber)
                                            || (isNumber(page.verses[verseIndex + 1].verseNumber)
                                                && (((parseInt(page.verses[verseIndex + 1].verseNumber) - 1) !== parseInt(verse.verseNumber)))))) ? (verse.isIncipit() ? '' : verse.verseNumber)  : '' }}

                                        <span class="font-red">{{ verse.aventiureNumber() !== null && !verse.isSpecialAventiure() ? verse.aventiureNumber() : '' }}</span>
                                    </div>

                                    <div :ref="'verseLine' + verse.id" :key="verse.id" @click="onVerseClick(verse)" :class="[focusedVerse?.id === verse.id ? 'is-selected' : '', (isLocalSearchActive && valueMatchesSearchTerm(isShowNormalized ? verse.normalizedValue : verse.value)) ? 'is-matches-search' : '', verse.isIncipit() ? 'is-incipit' : '', 'indent-' + verse.indent, chapter.isAbsolute && isPageNumber(verse.value.trim()) ? 'text-end is-page-number' : '' ]" class="page-viewer__verse flex-grow-1">
                                        <span v-html="!isShowNormalized ? verse.transformedValue : verse.transformedNormalizedValue"></span>
                                    </div>
                                </div>

                                <div v-if="verse.hasAmen()" class="d-flex">
                                    <div class="page-viewer__reading_number junicode-numerics">
                                    </div>
                                    <div @click="onVerseClick(verse)" class="final-amen">
                                        Amen
                                    </div>
                                </div>
                            </div>

                            <div :ref="'strophe' + strophe.id" :key="strophe.id" class="page-viewer__strophe" v-for="strophe of page.strophes" v-if="!chapter.isAbsolute && chapter.hasStrophes">
                                <div v-if="strophe.verses.length > 0 && strophe.verses[0].aventiureNumber() !== null && strophe.verses[0].isSpecialAventiure()" class="aventiure">
                                    [<span class="junicode-numerics">{{ strophe.verses[0].aventiureNumber() }}</span>. <i>âventiure</i>]
                                </div>

                                <div class="d-flex" v-for="verse in strophe.verses">
                                    <div class="page-viewer__reading_number junicode-numerics">
                                        {{ verse.verseNumber === '1' ? strophe.stropheNumber : '' }}

                                        <span class="font-red">{{ verse.aventiureNumber() !== null && !verse.isSpecialAventiure() ? verse.aventiureNumber() : '' }}</span>
                                    </div>

                                    <div class="flex-grow-1">
                                        <div :ref="'verseLine' + verse.id" :key="verse.id" @click="onVerseClick(verse)" :class="{'is-selected': focusedVerse?.id === verse.id, 'is-not-visible-on-page': page.textAreas.find((x) => x.id === verse.textAreaId) === undefined, 'is-matches-search': (isLocalSearchActive && valueMatchesSearchTerm(isShowNormalized ? verse.normalizedValue : verse.value)), 'is-incipit': verse.isIncipit() }" class="page-viewer__verse">
                                            <span v-html="!isShowNormalized ? verse.transformedValue : verse.transformedNormalizedValue"></span>
                                        </div>
                                    </div>
                                </div>

                                <div v-if="strophe.verses.length > 0 && strophe.verses[strophe.verses.length - 1].hasAmen()" class="d-flex">
                                    <div class="page-viewer__reading_number junicode-numerics">
                                    </div>
                                    <div @click="onVerseClick(strophe.verses[verses.length - 1])" class="final-amen">
                                        Amen
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div @wheel="onImageScroll" ref="imageSide" v-dragscroll="true" class="page-viewer__image-side flex-grow-1 w-100">
                    <div v-for="coords of focusRectCoords" :style="{'top': coords.top + 'px', 'left': coords.left + 'px', 'height': coords.height + 'px', 'width': coords.width + 'px', }" :class="{'is-shown': isShowFocusRect}" class="page-viewer__focus-rect"></div>

                    <div class="position-relative" @mousedown="onImageMousedown" :style="{'width': imageScroll + '%'}">
                        <img ref="image" :src="page.imageLink" :style="{'width': '100%'}" >

                        <div class="page-viewer__moz-image-shield"></div>

                        <div class="page-viewer__image-text-area" v-if="page.textAreas.length > 0" v-for="(textArea, textAreaIndex) of page.textAreas">
                            <div class="page-viewer__image-line" @mouseup="onImageClick" :style="{ 'top': yCoordsPercentageOfImage(line.minY) + '%', 'height': yCoordsPercentageOfImage(line.maxY - line.minY)  + '%', 'left': xCoordsPercentageOfImage(line.minX)  + '%', 'width': xCoordsPercentageOfImage(line.maxX - line.minX)  + '%' }" v-for="(line, lineIndex) of textArea.lines" v-if="textArea.lines.length > 0 && line.value !== '' && line.value !== null"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Page from "../../model/Page";
import Chapter from "../../model/Chapter";

import { dragscroll } from 'vue-dragscroll';
import Transformable from "../../model/Transformable";

export default {
    name: "PageViewer",
    data() {
        return {
            page: null,
            chapter: null,
            imageScroll: 100,
            textScale: 1.0,
            maxTextScale: 5.0,
            minTextScale: 1.0,
            isInitialized: false,
            focusedTextAreaIndex: -1,
            textAreaOfFocusedLineIndex: -1,
            isSingleColumn: false,
            focusedLine: null,
            focusedVerse: null,
            isShowLineHover: true,
            focusRectCoords: {'top': 0, 'left': 0, 'height': 0, 'width': 0},
            isShowFocusRect: false,
            showFocusRectTimeout: null,
            mousePosKeyDownX: 0,
            mousePosKeyDownY: 0,
            isShowOptionsBox: false,
            isShowVerse: false,
            isShowNormalized: false,
            isExpandAbbreviations: false,
            isLocalSearchActive: false,
            isFullWordSearch: false,
            currentSearchTerm: '',
            highestClusterReference: 0,
            highestClusterIndex: 0,
            maxLineWidths: {},
            maxLineWidthIndex: 0,
        };
    },
    directives: {
        dragscroll
    },
    mounted() {
        this.initialize();
    },
    created() {
    },
    destroyed() {
        window.removeEventListener("resize", this.onPageResize);
    },
    props: {
        currentlyViewedPage: {
            type: Object,
            required: true,
        },
        currentlyViewedChapter: {
            type: Object,
            required: true,
        },
        preselectedVerse: {
            type: Number,
            required: false,
            default: null,
        },
        showNormalized: {
            type: Boolean,
            required: false,
            default: false,
        },
    },
    methods: {
        initialize() {
            this.page = Page.fromJson(this.currentlyViewedPage);

            this.chapter = Chapter.fromJson(this.currentlyViewedChapter);

            if(this.chapter.isAbsolute) {
                this.page.textAreas.forEach((textArea, textAreaIndex) => {
                    let absoluteCluster = 0;

                    this.maxLineWidths[textArea.id] = 0;

                    textArea.lines.forEach((line, lineIndex) => {
                        if(textArea.lines[lineIndex - 1] === undefined)
                            return;

                        if(textArea.lines[lineIndex - 1].minY >= line.minY - 250) {
                            let clusterIndex = textArea.lines[lineIndex - 1].absoluteClusterIndex + 1;
                            let clusterReference = textArea.lines[lineIndex - 1].absoluteClusterReference;

                            if(clusterReference > this.highestClusterReference) {
                                this.highestClusterReference = clusterReference;
                                this.highestClusterIndex = clusterIndex;
                            }

                            this.page.textAreas[textAreaIndex].lines[lineIndex].setAbsoluteClusterIndex(clusterIndex);
                            this.page.textAreas[textAreaIndex].lines[lineIndex].setAbsoluteClusterReference(clusterReference);
                        } else {
                            absoluteCluster++;
                        }

                        this.page.textAreas[textAreaIndex].lines[lineIndex].setAbsoluteCluster(absoluteCluster);
                    });
                });

                this.$nextTick(() => {
                   this.$refs.lines.forEach((l) => {
                       let textAreaId = parseInt(l.getAttribute('data-textarea'));

                       let width = 100 / (window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth) * l.scrollWidth;

                       if(width > this.maxLineWidths[textAreaId]) {
                           this.maxLineWidths[textAreaId] = width;
                       }
                   });

                   this.maxLineWidthIndex++;
                });
            }

            this.isInitialized = true;

            this.isShowNormalized = this.showNormalized;

            if(this.preselectedVerse !== undefined && this.preselectedVerse !== null) {
                setTimeout(() => {
                    this.$nextTick(() => {
                        let verse = null;

                        if(this.chapter.hasStrophes) {
                            this.page.strophes.forEach((x) => {
                                if(verse === undefined || verse === null)
                                    verse = x.verses.find((y) => {
                                        return y.id === this.preselectedVerse;
                                    })
                            });
                        } else {
                            verse = this.page.verses.find((y) => {
                                return y.id === this.preselectedVerse;
                            })
                        }

                        if(verse !== undefined && verse !== null) {
                            this.onVerseClick(verse);
                            this.focusOnVerse(verse);
                        }

                    });
                },2000);
            }

            window.addEventListener("resize", this.onPageResize);

            this.$EventBus.$on('search', this.onSearchTerm);
            this.$EventBus.$on('toggle-transcription', (e) => {this.isShowNormalized = e.normalized;});
            this.$EventBus.$on('toggle-verse', (e) => {this.isShowVerse = true;});
        },
        onSearchTerm(parameters) {
            let term = this.isShowNormalized ? Transformable.normalizeString(parameters.search) : parameters.search;
            let isFullWordSearch = parameters.isFullWordSearch;

            if(term === '' || this.currentSearchTerm === term) {
                this.isLocalSearchActive = false;
                this.currentSearchTerm = '';
                return;
            }

            this.isLocalSearchActive = true;
            this.currentSearchTerm = term;
            this.isFullWordSearch = isFullWordSearch;
        },
        onImageScroll: function(e) {
            e.preventDefault();

            const maxScale = 500;
            const minScale = 100;
            const scale = 10;

            let imageSide = this.$refs.imageSide;
            let image = this.$refs.image;
            let delta = Math.max(-1, Math.min(1, e.deltaY));

            let startWidth = image.width;
            let startHeight = image.height;
            let endWidth = image.width / this.imageScroll * Math.min(maxScale, Math.max(minScale, (this.imageScroll + scale * delta * -1)));
            let endHeight = endWidth * (startHeight/startWidth);

            let yPreScroll = e.clientY - $(image).offset().top;
            let xPreScroll = e.clientX - $(image).offset().left;

            let yPos = 1 / startHeight * yPreScroll;
            let xPos = 1 / startWidth * xPreScroll;

            let yPostScroll = endHeight * yPos;
            let xPostScroll = endWidth * xPos;

            let offsetX = xPostScroll - xPreScroll;
            let offsetY = yPostScroll - yPreScroll;

            this.imageScroll = Math.min(maxScale, Math.max(minScale, (this.imageScroll + scale * delta * -1)));

            imageSide.scrollLeft = imageSide.scrollLeft + offsetX;
            imageSide.scrollTop = imageSide.scrollTop + offsetY;

            this.recalculateFocusRect(endWidth, endHeight);
        },
        onVerseOrLineRepresentationChange() {
            this.textScale = this.minTextScale;

            if(this.isShowVerse && this.focusedVerse !== null) {
                this.focusOnLineOrVerseImageSide(this.focusedVerse);
                this.focusOnVerseTextSide(this.focusedVerse);
            } else if (this.focusedLine !== null) {
                this.focusedTextAreaIndex = this.textAreaOfFocusedLineIndex;
                this.focusOnLineOrVerseImageSide(this.focusedLine);
                this.focusOnLineTextSide(this.focusedLine);
            }
        },
        onVerseClick(verse) {
            if(this.page.textAreas.find((x) => x.id === verse.textAreaId) === undefined)
                return;

            this.setFocusedVerse(verse);

            let lineAndTextAreaIndex = this.findFirstLineAndTextAreaIndexByVerse(verse);

            if(lineAndTextAreaIndex !== null) {
                this.setFocusedLine(lineAndTextAreaIndex['line'], lineAndTextAreaIndex['textAreaIndex']);
            }

            this.disableLineHover();

            this.focusOnLineOrVerseImageSide(verse);
        },
        onLineClick(line, textArea, textAreaIndex) {
            if(line.value === null || line.value === '')
                return;

            this.setFocusedLine(line, textAreaIndex);

            let verse = this.findFirstVerseByLine(line);

            if(verse !== null) {
                this.setFocusedVerse(verse);
            }

            this.focusedTextAreaIndex = textAreaIndex;

            let focusLine = !this.isSingleColumn;

            if(focusLine) {
                this.focusOnLine(line);
                this.disableLineHover();
            } else
                this.focusOnLineOrVerseImageSide(line);
        },
        toggleSingleColumn() {
            this.setSingleColumn(!this.isSingleColumn)
        },
        setFocusedLine(line, textAreaOfFocusedLineIndex) {
            this.focusedLine = line;
            this.textAreaOfFocusedLineIndex = textAreaOfFocusedLineIndex;
        },
        setFocusedVerse(verse) {
            this.focusedVerse = verse;
        },
        setSingleColumn(isSingleColumn) {
            this.isSingleColumn = isSingleColumn;
            this.textScale = 1;
        },
        focusOnLine(line) {
            this.focusedTextAreaIndex = this.textAreaOfFocusedLineIndex;
            this.setSingleColumn(true);
            this.focusOnLineTextSide(line);
            this.focusOnLineOrVerseImageSide(line);
        },
        focusOnVerse(verse) {
            this.focusedTextAreaIndex = this.textAreaOfFocusedLineIndex;
            this.focusOnVerseTextSide(verse);
            this.focusOnLineOrVerseImageSide(verse);
        },
        focusOnLineTextSide(line) {
            let refLine = this.$refs['singleLine' + line.id][0];
            let textSide = this.$refs.textSide;

            this.$nextTick(() => {
                textSide.scrollTop = refLine.offsetTop - textSide.clientHeight/2;
            });
        },
        focusOnVerseTextSide(verse) {
            if(this.$refs['verseLine' + verse.id] === undefined)
                return;

            let refLine = this.$refs['verseLine' + verse.id][0];
            let textSide = this.$refs.textSide;

            this.$nextTick(() => {
                textSide.scrollTop = refLine.offsetTop - textSide.clientHeight/2;
            });
        },
        focusOnLineOrVerseImageSide(lineOrVerse) {
            let imageSide = this.$refs.imageSide;

            this.imageScroll = 400;

            let that = this;

            this.$nextTick(() => {
                that.recalculateFocusRect();
                that.showFocusRect();

                imageSide.scrollLeft = that.xCoordsToRelativeImageOffset((that.isShowVerse ? lineOrVerse.minX[0] : lineOrVerse.minX) + ((that.isShowVerse ? lineOrVerse.maxX[0] : lineOrVerse.maxX) - (that.isShowVerse ? lineOrVerse.minX[0] : lineOrVerse.minX))/2) - imageSide.clientWidth/2;
                imageSide.scrollTop = that.yCoordsToRelativeImageOffset((that.isShowVerse ? lineOrVerse.minY[0] : lineOrVerse.minY) + ((that.isShowVerse ? lineOrVerse.maxY[0] : lineOrVerse.maxY) - (that.isShowVerse ? lineOrVerse.minY[0] : lineOrVerse.minY))/2) - imageSide.clientHeight/2 - 10;
            });
        },
        resetImageZoom() {
            let targetDimensions = this.getImageDimensionsAfterScroll(100);

            this.recalculateFocusRect(targetDimensions.width, targetDimensions.height, true);

            this.imageScroll = 100;
            this.$refs.imageSide.scrollTop = 0;
        },
        moveFocusedTextAreaBack() {
            this.focusedTextAreaIndex = Math.max(0, this.focusedTextAreaIndex - 1);
        },
        moveFocusedTextAreaForward() {
            this.focusedTextAreaIndex = Math.min(this.page.textAreas.length - 1, this.focusedTextAreaIndex + 1);
        },
        decreaseTextScale() {
            this.textScale = Math.max(this.minTextScale, this.textScale - 0.5);
        },
        increaseTextScale() {
            this.textScale = Math.min(this.maxTextScale, this.textScale + 0.5);
        },
        switchSingleColumn() {
            this.toggleSingleColumn();

            this.$nextTick(() => {
                this.$refs.textSide.scrollTop = 0;
            });
        },
        recalculateFocusRect(width, height, small) {
            if((!this.isShowVerse && this.focusedLine === null) || (this.isShowVerse && this.focusedVerse === null)) {
                return;
            }

            let smallRect = small !== undefined && small !== null ? small : false;

            let xIncreaseOnBigScroll = !smallRect && this.imageScroll > 300 ? 50 : 0;
            let yIncreaseOnBigScroll = !smallRect && this.imageScroll > 300 ? 30 : 0;

            if(!this.isShowVerse) {
                this.focusRectCoords = [{
                    'top': this.yCoordsToRelativeImageOffset(this.focusedLine.minY, height) - yIncreaseOnBigScroll/2,
                    'left': this.xCoordsToRelativeImageOffset(this.focusedLine.minX, width) - xIncreaseOnBigScroll/2,
                    'width': this.xCoordsToRelativeImageOffset((this.focusedLine.maxX - this.focusedLine.minX), width) + xIncreaseOnBigScroll,
                    'height': this.yCoordsToRelativeImageOffset(this.focusedLine.maxY - this.focusedLine.minY, height) + yIncreaseOnBigScroll,
                }];
            } else {
                this.focusRectCoords = [];

                let that = this;

                this.focusedVerse.minY.forEach(function(y, index) {
                    that.focusRectCoords.push(
                        {
                            'top': that.yCoordsToRelativeImageOffset(that.focusedVerse.minY[index], height) - yIncreaseOnBigScroll/2,
                            'left': that.xCoordsToRelativeImageOffset(that.focusedVerse.minX[index], width) - xIncreaseOnBigScroll/2,
                            'width': that.xCoordsToRelativeImageOffset((that.focusedVerse.maxX[index] - that.focusedVerse.minX[index]), width) + xIncreaseOnBigScroll,
                            'height': that.yCoordsToRelativeImageOffset(that.focusedVerse.maxY[index] - that.focusedVerse.minY[index], height) + yIncreaseOnBigScroll,
                        }
                    );
                });
            }
        },
        showFocusRect() {
            let that = this;
            this.isShowFocusRect = true;

            if(this.showFocusRectTimeout !== null)
                clearTimeout(this.showFocusRectTimeout);

            this.showFocusRectTimeout = setTimeout(function () {
                that.isShowFocusRect = false;
            }, 5000);
        },
        disableLineHover() {
            let that = this;
            this.isShowLineHover = false;

            setTimeout(function () {
                that.isShowLineHover = true;
            }, 2000);
        },
        xImageOffsetToCoords(xImageOffset) {
            return this.page.imageWidth / this.$refs.image.width * xImageOffset;
        },
        yImageOffsetToCoords(yImageOffset) {
            return this.page.imageHeight / this.$refs.image.height * yImageOffset;
        },
        xCoordsPercentageOfImage(xCoords) {
            return 100 / (this.page.imageWidth) * xCoords;
        },
        yCoordsPercentageOfImage(yCoords) {
            return 100 / (this.page.imageHeight) * yCoords;
        },
        xCoordsToRelativeImageOffset(xCoords, width) {
            let image = this.$refs.image;

            let imageWidth;

            if(width !== undefined && width !== null)
                imageWidth = width;
            else
                imageWidth = image.width;

            return imageWidth / this.page.imageWidth * xCoords;
        },
        yCoordsToRelativeImageOffset(yCoords, height) {
            let image = this.$refs.image;
            let imageHeight;

            if(height !== undefined && height !== null)
                imageHeight = height;
            else
                imageHeight = image.height;

            return imageHeight / this.page.imageHeight * yCoords;
        },
        getImageDimensionsAfterScroll(targetScroll) {
            let image = this.$refs.image;

            let targetWidth = image.width / this.imageScroll * targetScroll;
            let targetHeight = image.height / image.width * targetWidth;

            return { width: targetWidth, height: targetHeight };
        },
        onPageResize() {
            this.recalculateFocusRect();
        },
        onImageMousedown(event) {
            this.mousePosKeyDownX = event.clientX;
            this.mousePosKeyDownY = event.clientY;
        },
        onImageClick(event) {
            let rect = this.$refs.image.getBoundingClientRect();
            let x = this.xImageOffsetToCoords(event.clientX - rect.left);
            let y = this.yImageOffsetToCoords(event.clientY - rect.top);

            if(event.clientX < this.mousePosKeyDownX - 3 || event.clientX > this.mousePosKeyDownX + 3 || event.clientY < this.mousePosKeyDownY - 3 || event.clientY > this.mousePosKeyDownY + 3)
                return;

            let that = this;

            if(this.isShowVerse) {
                this.page.verses.forEach((verse, index) => {
                    if(this.chapter.hasStrophes && !this.page.strophes.map((s) => s.id).includes(verse.strophe.id)) {
                        return;
                    }

                    verse.minY.forEach(function(yVal, index) {
                        if(x >= verse.minX[index] && x < verse.maxX[index] && y >= verse.minY[index] && y < verse.maxY[index] && that.page.textAreas.find((x) => x.id === verse.textAreaId) !== undefined) {
                            that.onVerseClick(verse);
                            that.focusOnVerseTextSide(verse);
                            return -1;
                        }
                    });
                });
            } else {
                this.page.textAreas.forEach(function (textArea, index) {
                    for(let line of textArea.lines) {
                        if(x >= line.minX && x < line.maxX && y >= line.minY && y < line.maxY && line.value !== null && line.value !== '') {
                            that.setFocusedLine(line, index);

                            that.focusedTextAreaIndex = index;

                            let verse = that.findFirstVerseByLine(line);

                            if(verse !== null) {
                                that.setFocusedVerse(verse);
                            }

                            that.focusOnLine(line);
                            that.disableLineHover();

                            return;
                        }
                    }
                });
            }
        },
        toggleShowOptionsBox() {
            this.isShowOptionsBox = !this.isShowOptionsBox;
        },
        isNumber(val) {
            return /^\d+$/.test(val);
        },
        findFirstLineAndTextAreaIndexByVerse(verse) {
            let that = this;

            let ret = null;

            this.page.textAreas.forEach(function (textArea, textAreaIndex) {
                for(let line of textArea.lines) {
                    if(ret === null && that.checkIfLineIntersectsWithVerse(line, verse)) {
                        ret = {'line': line, 'textAreaIndex': textAreaIndex};
                    }
                }
            });

            return ret;
        },
        findFirstVerseByLine(line) {
            if(this.chapter.hasStrophes) {
                for(let strophe of this.page.strophes) {
                    for(let verse of strophe.verses) {
                        if(this.page.textAreas.find((x) => x.id === verse.textAreaId) !== undefined && this.checkIfLineIntersectsWithVerse(line, verse)) {
                            return verse;
                        }
                    }
                }
            } else {
                for(let verse of this.page.verses) {
                    if(this.checkIfLineIntersectsWithVerse(line, verse)) {
                        return verse;
                    }
                }
            }

            return null;
        },
        checkIfLineIntersectsWithVerse(line, verse) {
            let found = false;

            verse.maxX.forEach(function (_, i) {
                found = line.maxX <= verse.maxX[i]
                && line.minX >= verse.minX[i]
                && line.maxY <= verse.maxY[i]
                && line.minY >= verse.minY[i]
            });

            return found;
        },
        valueMatchesSearchTerm(value) {
            if(value === null)
                return false;

            if(this.isFullWordSearch) {
                return new RegExp("(^|\\s)" + this.currentSearchTerm + "(\\s|$)", 'i').test(value);
            }

            return new RegExp(this.currentSearchTerm, 'i').test(value);
        },
        isPageNumber(string) {
            return /^·?\s*[A-Z]*\s*·??$/.test(string);
        }
    },
    watch: {
        isShowNormalized(newVal, oldVal) {
            this.$EventBus.$emit('page-viewer-normalized-toggled', newVal);
        }
    },
    components: {},
    mixins: [],
}
</script>

<style scoped lang="scss">
@import "resources/scss/variables/colors";

$margin-x: 1rem;

.page-viewer__text-side-wrapper, .page-viewer__image-side {
    height: 75vh;
    border: 1px solid #ccc;
    position: relative;
    background-color: white;
    overflow: scroll;
}

.page-viewer__text-side-wrapper, .page-viewer__text-side-navigation {
    margin: 0 calc($margin-x/2) 0 $margin-x;
}

.page-viewer__image-side {
    cursor: grabbing;
}

.page-viewer__image-side .page-viewer__image-line {
    position: absolute;
}

.page-viewer__image-side .page-viewer__image-line:hover {
    cursor: pointer;
}

.page-viewer__image-side, .page-viewer__image-side-navigation {
    margin: 0 $margin-x 0 calc($margin-x/2);
}

.page-viewer__absolute-text-area {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-viewer__absolute-text-area .page-viewer__line {
    position: absolute;
}

.page-viewer__text-area {
    width: 14vw;
    padding: 5vw 0.5rem;
}

.page-viewer__single-text-area {
    width: 39.5vw;
    padding: 5vw 0.5rem;
}

.page-viewer__single-text-area.is-absolute {
    width: 42.5vw;
}

.page-viewer__line {
    white-space: nowrap;
    font-size: 0.70vw;
    height: 1.5em;
    position: relative;

    transition: background-color 0.2s ease-in-out;
}

.page-viewer__line.has-content, .page-viewer__verse {
    cursor: pointer;
}

.page-viewer__single-text-area .page-viewer__line {
    font-size: 1.7vw;
}

.page-viewer__verse {
    font-size: 1.7vw;
    height: 1.5em;

    transition: background-color 0.2s ease-in-out;
}

.page-viewer__verse.is-page-number {
    padding-bottom: 1.7em;
}

.is-absolute .page-viewer__verse {
    height: auto;
}

.page-viewer__verse.is-incipit {
    height: auto;
}

.page-viewer__strophe .page-viewer__verse, .page-viewer__strophe .page-viewer__reading_number, .page-viewer__strophe .aventiure {
    font-size: 1.1vw;
}

.is-show-line-hover .page-viewer__line:hover, .page-viewer__line.is-selected, .is-show-line-hover .page-viewer__verse:hover, .page-viewer__verse.is-selected {
    color: $primary-color;
}

.page-viewer__line.is-matches-search, .page-viewer__verse.is-matches-search {
    background-color: rgba($primary-color, 0.2);
}

.page-viewer__verse.is-not-visible-on-page {
    color: rgba($dark-color, 0.5);
}

.page-viewer__focus-rect {
    border: 3px solid $primary-color;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    z-index: 1;
}

.page-viewer__image-side:hover .page-viewer__focus-rect, .page-viewer__focus-rect.is-shown {
    opacity: 1;
}

.page-viewer__option-box {
    position: absolute;
    top: 2.2em;
    right: 0;
    z-index: 10;
    background-color: $body-bg-color;
    border: 1px solid $primary-color;
    border-radius: 0.2em;
    box-shadow: 0 0 10px rgba(#000, 0.2);
    padding: 1em;
    width: 15em;
}

.page-viewer__strophe {
    margin-bottom: 1.5em;
}

.page-viewer__cluster-start {
    margin-top: 2.15em;
}

.page-viewer__cluster-start.cluster-has-incipit {
    margin-bottom: 3.5em;
}

.page-viewer__cluster-start:first-child {
    margin-top: 0;
}

.page-viewer__reading_number {
    width: 3em;
    min-width: 3em;
    margin-right: 1em;
    text-align: right;
    font-size: 1.7vw;
}

.is-absolute .page-viewer__reading_number {
    width: 1em;
    min-width: 1em;
}
</style>

<style lang="scss">
@import "resources/scss/variables/colors";

.incipit {
    color: red;
}

.amen {
    display: none;
}

.page-viewer__line .red-initial, .page-viewer__line .blue-initial, .page-viewer__line .big-initial {
    position: absolute;
    line-height: 1;
    left: 0;
    z-index: 1;
}

.page-viewer__line .red-initial.height-1, .page-viewer__line .blue-initial.height-1, .page-viewer__line .big-initial.height-1 {
    position: static;
    line-height: inherit;
}

.red-initial {
    color: red;
}

.font-red {
    color: red;
}

.aventiure {
    color: red;
    margin: 1.7vw 4.3vw;
    font-size: 1.7vw;
}

.blue-initial {
    color: deepskyblue;
}

.red-rubric {
    text-shadow: -1px 0px red;
}

.big-initial, .missing-initial {
    font-weight: 700;
}

.strikethrough {
    text-decoration: line-through;
}

.is-show-normalized .page-viewer__verse .strikethrough {
    display: none;
}

.red-initial.height-0, .red-initial.height-1, .blue-initial.height-0, .blue-initial.height-1 {
    font-weight: 700;
}

@for $i from 0 through 2 {
    .page-viewer__line .height-#{$i} {
        font-size: 0.7vw + (0.7vw * ($i - 1));
    }

    .page-viewer__single-text-area .page-viewer__line .height-#{$i} {
        font-size: 1.7vw + (1.7vw * ($i - 1));
    }
}

@for $i from 3 through 15 {
    .page-viewer__line .height-#{$i} {
        font-size: 0.7vw + (0.7vw * 3);
    }

    .page-viewer__single-text-area .page-viewer__line .height-#{$i} {
        font-size: 1.7vw + (1.7vw * 3);
    }
}

.page-viewer__line .offset-text-0 {
    top: 0.4vw;
}

.page-viewer__single-text-area .page-viewer__line .offset-text-0 {
    top: 1vw;
}

@for $i from 1 through 15 {
    .page-viewer__line .offset-text-#{$i} {
        top: (-0.86vw * $i);
    }

    .page-viewer__single-text-area .page-viewer__line .offset-text-#{$i} {
        top: (-2.3vw * $i);
    }
}

@for $i from 2 through 15 {
    .page-viewer__line.indent-#{$i} {
        padding-left: 4em + (0.2em * 3);
    }

    .page-viewer__line.indent-#{$i}.small-indent {
        padding-left: 2em;
    }
}

@for $i from 1 through 15 {
    .page-viewer__verse.indent-#{$i} {
        padding-left: 1em;
    }
}

.is-expand-abbreviations .abbreviation, .abbreviation-expansion {
    display: none;
}

.is-expand-abbreviations .abbreviation-expansion, .abbreviation {
    display: inline;
}

.is-show-line-hover .incipit:hover, .is-selected .incipit,
.is-show-line-hover .page-viewer__line:hover .red-initial, .is-show-line-hover .page-viewer__verse:hover .red-initial, .is-selected .red-initial,
.is-show-line-hover .page-viewer__line:hover .blue-initial, .is-show-line-hover .page-viewer__verse:hover .blue-initial, .is-selected .blue-initial{
    color: $primary-color;
}

.page-viewer__moz-image-shield {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.page-viewer__verse.is-incipit {
    margin-bottom: 1.7vw;
}

.final-amen {
    margin-top: 1.7vw;
    font-size: 1.7vw;
    margin-left: 1em;
}

.final-amen:hover {
    color: $primary-color;
    cursor: pointer;
}

.caesura {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1px;
    letter-spacing: -1px;
}

.caesura::before, .caesura::after {
    font-size: 1rem;
    content: ' ';
}

.insertion {
    display: none;
}

.insertion-insert {
    display: inline-block;
}
</style>
