@import "../variables/colors";
@import "../variables/constants";
@import "../variables/mixins";
@import "../variables/bootstrap-theme";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins";
@import "~bootstrap-icons";

@import "~noty/src/noty.scss";
@import "~noty/src/themes/relax.scss";

@import "animate.css";

html, body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    position: relative;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
}

#app {
    padding-bottom: calc($footer-height-lg + 1rem);
    position: relative;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.app {
    position:relative;
    padding-top: $app-padding-top;
}

@import "../components/utilities";
@import "../components/footer";
@import "../components/navbar";
@import "../components/sidebar";
@import "../components/input";
@import "../components/tooltips";

.index-container {
    height: 80vh;
}

@include media-breakpoint-down(lg) {
    #app {
        padding-bottom: calc($footer-height + 1rem);
    }

    .index-container {
        height: 60vh;
    }
}
