@import "../variables/colors";


.documentation-textblock {
    margin-bottom: 35px;
}

.documentation-block {
    border: 1px solid $primary-color;
    display: inline-block;
}

a.documentation-block:hover {
    text-decoration: none;
    border: 1px solid #ff9b3f;
}

a.documentation-block:hover div {
    color: #ff9b3f;
}

.documentation-block-flex {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.documentation-block-descriptor {
    font-size: 80%;
    color: $primary-color;
}

.documentation-block-nav {
    height: 50px;
    widht: 100%;
    margin-bottom: 20px;
    display: block;
}

.documentation-block-side-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.documentation-block-side {
    width: 49%;
    height: 500px;
}

.documentation-table {
    width: 100%;
    margin-bottom: 40px;
}

.documentation-tablecol {
    border: 1px solid #ddd;
    padding: 30px 50px;
    width: 50%;
}

.documentation-tablecol-function {
    text-align: center;
}

.documentation-tablecol-explanation {
    text-align: left;
}

.documentation-tablecol-header {
    text-align: center;
}

.documentation-close-context {
    font-size: 160%;
    color: $primary-color;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid $primary-color;
}

.nav-page-backward-button, .nav-page-forward-button {
    border: 1px solid $primary-color;
}

.nav-page-backward-button > span, .nav-page-forward-button > span {
    color: $primary-color;
}

.select2-container--default .select2-selection--single {
    border: 1px solid $primary-color;
}

.select2-container {
    margin-top: -6px;
}

.junicode-inline {
    font-family: 'Junicode-Regular', sans-serif;
    font-size: 150%;
}

input[type="text"].file-navigation-word-search {
    border: 1px solid $primary-color;
    font-size: 83%;
    vertical-align: top;
}

input[type="text"].file-navigation-word-search:focus {
    border: 1px solid $primary-color;
}

#search-live {
    top: 4px;
}

.search-toggle-full-wrap {
    top: 4px;
}

.select2-container {
    vertical-align: bottom;
}

.select2-results__options {
    font-size: 80%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 80%;
}

.page-navigation-bar__full-search-icon {
    font-size: 60%;
    position: absolute;
    top: 0.1em;
    right: 0.1em;
}
