@import "../components/fonts";

body {
    font-family: 'Junicode', sans-serif;
}

.bi {
    font-family: 'Roboto', sans-serif;
}

.junicode {
    font-family: 'Junicode', sans-serif;
}

.junicode-numerics {
    font-family: 'JunicodeNumerics', sans-serif;
}

b, strong {
    font-weight: 700;
}
