$body-bg: $body-bg-color;

//Links
$link-decoration: none;
$link-color: $dark-color;

$font-weight-base: 300;
$font-weight-bold: 400;
$font-weight-bolder: 500;

$input-bg: white;
$input-padding-x: 1rem;
$input-padding-y: 0.75rem;

$btn-padding-x: 1rem;
$btn-padding-y: 0.75rem;

$display-font-sizes: (
    1: 4rem,
    2: 3.5rem,
    3: 3rem,
    4: 2.5rem,
    5: 2rem,
    6: 1.5rem,
);
