<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" :href="dashboardLink">
                <b>Transcriptiones</b>.com
            </a>
            <h5 v-if="isInitialized" class="navbar-brand m-0">
                <a :href="currentChapter.link">
                    {{ chapterName }}
                </a>
            </h5>
            <transition name="fade">
                <div v-if="isInitialized" class="d-flex ms-auto">
                    <form method="GET" :action="searchLink" id="searchForm">
                        <input type="hidden" name="full_word" :value="isFullWordSearch ? 'true' : 'false'" />
                        <input v-if="isNormalizedSearch" type="hidden" name="normalized" value="true" />
                        <input v-if="!isNormalizedSearch" type="hidden" name="normalized" value="false" />
                    </form>
                    <div class="input-group input-group-sm me-2">
                        <input v-model="search" form="searchForm" placeholder="Suchterm" name="search" type="text" class="form-control page-navigation-bar__input" />
                        <button v-tooltip="'Suche nach ganzen Wörtern'" type="button" @click="toggleFullWordSearch" class="btn" :class="{'btn-outline-primary': !isFullWordSearch, 'btn-primary': isFullWordSearch}">
                            W
                        </button>
                        <button v-tooltip="'Innerhalb der Seite suchen'" type="button" @click="searchInPage" class="btn btn-outline-primary">
                            <i class="bi bi-search"></i>
                        </button>
                        <button v-tooltip="'Ganzen Text durchsuchen'" type="submit" form="searchForm" :disabled="search === ''" class="btn btn-outline-primary">
                            <i class="bi bi-book"></i>
                            <i class="bi bi-search page-navigation-bar__full-search-icon"></i>
                        </button>
                    </div>

                    <div class="input-group input-group-sm me-2">
                        <a :href="currentChapter.previousChapter?.link"
                           class="btn"
                           :class="{'btn-outline-primary': currentChapter.previousChapter !== null,
                           'btn-outline-secondary': currentChapter.previousChapter === null}"
                           type="button">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                        <select @change="redirectToChapter" class="form-select page-navigation-bar__select">
                            <option :selected="chapter.id === currentChapter.id" :value="chapter.link" v-for="chapter of chapters">
                                {{ chapter.name }}
                            </option>
                        </select>
                        <a :href="currentChapter.nextChapter?.link"
                           class="btn"
                           :class="{'btn-outline-primary': currentChapter.nextChapter !== null,
                           'btn-outline-secondary': currentChapter.nextChapter === null}"
                           type="button">
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>

                    <div class="input-group input-group-sm">
                        <a :href="currentPage.previousPage?.link"
                           class="btn"
                           :class="{'btn-outline-primary': currentPage.previousPage !== null,
                           'btn-outline-secondary': currentPage.previousPage === null}"
                           type="button">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                        <select @change="redirectToPage" class="form-select page-navigation-bar__select">
                            <option :selected="page.id === currentPage.id" :value="page.link" v-for="page of pages">
                                fol. {{ page.folio }} ({{ page.pageNumber }})
                            </option>
                        </select>
                        <a :href="currentPage.nextPage?.link"
                           class="btn"
                           :class="{'btn-outline-primary': currentPage.nextPage !== null,
                           'btn-outline-secondary': currentPage.nextPage === null}"
                           type="button">
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </transition>
        </div>
    </nav>
</template>

<script>
import Page from "../../model/Page";
import Chapter from "../../model/Chapter";

export default {
    name: "PageNavigationBar",
    data() {
        return {
            pages: [],
            chapters: [],
            currentPage: null,
            currentChapter: null,
            search: '',
            isInitialized: false,
            isFullWordSearch: false,
            isNormalizedSearch: false,
        };
    },
    mounted() {
        this.initialize();
    },
    created() {
    },
    destroyed() {
    },
    props: {
        dashboardLink: {
            required: true,
            type: String,
        },
        searchLink: {
            required: true,
            type: String,
        },
        chapterName: {
            required: true,
            type: String,
        },
        allPages: {
            required: true,
            type: Array,
        },
        allChapters: {
            required: true,
            type: Array,
        },
        currentlyViewedPage: {
            required: true,
            type: Object,
        },
        currentlyViewedChapter: {
            required: true,
            type: Object,
        },
        searchValue: {
            required: false,
            type: String,
            default: '',
        },
        isFullWordSearchEnabled: {
            required: false,
            type: Boolean,
            default: false,
        },
        isNormalizedSearchEnabled: {
            required: false,
            type: Boolean,
            default: false,
        },
    },
    methods: {
        redirectToChapter(event) {
            this.eventRedirect(event);
        },
        redirectToPage(event) {
            this.eventRedirect(event);
        },
        eventRedirect(event) {
            window.location.href = event.target.value;
        },
        toggleFullWordSearch() {
            this.isFullWordSearch = !this.isFullWordSearch;
        },
        searchInPage() {
            this.$EventBus.$emit('search', {isFullWordSearch: this.isFullWordSearch, search: this.search});
        },
        initialize() {
            for(let page of this.allPages) {
                this.pages.push(Page.fromJson(page));
            }

            for(let chapter of this.allChapters)
                this.chapters.push(Chapter.fromJson(chapter));

            this.currentChapter = Chapter.fromJson(this.currentlyViewedChapter);
            this.currentPage = Page.fromJson(this.currentlyViewedPage);

            this.search = this.searchValue;
            this.isFullWordSearch = this.isFullWordSearchEnabled;
            this.isNormalizedSearch = this.isNormalizedSearchEnabled;

            if(this.search !== '') {
                this.$nextTick(() => {
                    this.$EventBus.$emit('toggle-verse');
                });
            }

            this.$EventBus.$on('page-viewer-normalized-toggled', (normalized) => {
                this.isNormalizedSearch = normalized;
            });

            this.isInitialized = true;
        }
    },
    components: {},
    mixins: [],
}
</script>

<style scoped>
    .page-navigation-bar__select {
        width: 15rem;
    }

    .page-navigation-bar__input {
        width: 15rem;
    }

    .input-group {
        flex-wrap: nowrap;
    }

    .page-navigation-bar__full-search-icon {
        font-size: 60%;
        position: absolute;
        top: 0.1em;
        right: 0.1em;
    }
</style>
