$fade-animation-time: 0.5s;
$fade-animation-delay: 0.5s;

.fade-leave-active {
    transition: opacity $fade-animation-time;
}

.fade-enter-active {
    transition: opacity $fade-animation-time $fade-animation-delay;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
