@font-face {
    font-family: 'Junicode';
    src: url('../../fonts/Junicode.ttf'),
    url('../../fonts/Junicode.ttf');
    font-weight:  400;
    font-style:   normal;
    font-display: swap;
}

@font-face {
    font-family: 'Junicode';
    src: url('../../fonts/Junicode-Bold.ttf'),
    url('../../fonts/Junicode-Bold.ttf');
    font-weight:  700;
    font-style:   normal;
    font-display: swap;
}

@font-face {
    font-family: 'Junicode';
    src: url('../../fonts/Junicode-Italic.ttf'),
    url('../../fonts/Junicode-Italic.ttf');
    font-weight:  400;
    font-style:   italic;
    font-display: swap;
}

@font-face {
    font-family: 'Junicode';
    src: url('../../fonts/Junicode-BoldItalic.ttf'),
    url('../../fonts/Junicode-BoldItalic.ttf');
    font-weight:  700;
    font-style:   italic;
    font-display: swap;
}

@font-face {
    font-family: 'JunicodeNumerics';
    src: url('../../fonts/Junicode-Numerics.ttf'),
    url('../../fonts/Junicode-Numerics.ttf');
    font-weight:  400;
    font-style:   normal;
    font-display: swap;
}
