.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footer-height-lg;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: white;
}

@include media-breakpoint-down(lg) {
    .footer {
        height: $footer-height;
    }
}
