.font-bigger {
    font-size: 300%;
}

.font-big {
    font-size: 200%;
}

.font-medium-big {
    font-size: 150%;
}

.font-normal {
    font-size: 100%;
}

.font-medium-small {
    font-size: 80%;
}

.font-small {
    font-size: 50%;
}

.font-smaller {
    font-size: 30%;
}
