<template>

</template>

<script>
export default {
    name: "MessageHandler",
    props: {
        errorKey: '',
        successKey: '',
        messages: [],
    },
    data() {
        return {
            errors: [],
            success: '',
        }
    },
    methods: {
        initialize() {
            let that = this;

            that.errors = that.messages[that.errorKey];
            that.success = that.messages[that.successKey];

            if(that.errors) {
                that.errors.forEach(message => this.$Notifications.showError(message));
            }

            if(that.success) {
                this.$Notifications.showSuccess(that.success);
            }
        },
    },
    mounted() {
        this.initialize();
    }
}
</script>
